@import '@/utils/styles/color-variables';
@import '@/utils/styles/font-variables';

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 21px;
	height: 100%;
	padding: 90px 187px;

	box-sizing: border-box;

	font-family: 'Montserrat Bold', sans-serif;
	color: $--Colors-White;
	font-size: $--Font-Size-Title-1440;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	@media screen and (max-width: 1439px) {
		font-size: $--Font-Size-Title-1024;
	}

	@media screen and (max-width: 744px) {
		font-size: $--Font-Size-Title-Mobile;
	}
}

body {
	background-color: $--Colors-Dark-Gray;
}

* {
	border: 1px solid red;
}
