@import '@/utils/styles/color-variables';
@import '@/utils/styles/font-variables';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body {
	background-color: $--Colors-Dark-Gray;
}

// * {
// 	border: 1px solid red;
// }
