@import '@/utils/styles/color-variables';
@import '@/utils/styles/font-variables';

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 80px;
	height: 100%;
	padding: 90px 187px;
	background-color: $--Colors-Dark-Gray;
	box-sizing: border-box;

	@media (min-width: 1024px) and (max-width: 1439px) {
		max-width: 1439px;
		padding: 85px 24px 66px;
		margin: 0 auto;
		gap: 60px;
	}

	@media (min-width: 744px) and (max-width: 1023px) {
		max-width: 1023px;

		padding: 74px 24px 57px;
		margin: 0 auto;
	}

	@media screen and (max-width: 743px) {
		min-width: 375px;
		padding: 58px 24px 43px;
		gap: 30px;
	}
}

.wrapper {
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
}

.link {
	text-decoration: none;

	font-family: 'Montserrat Bold', sans-serif;
	color: $--Colors-White;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	color: $--Colors-Blue;
	&:hover {
		color: $--Colors-Blue-Hover;
	}
}

.title {
	margin: 0;

	font-family: 'Montserrat Bold', sans-serif;
	color: $--Colors-White;
	font-size: $--Font-Size-Title-1440;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	@media (min-width: 1024px) and (max-width: 1439px) {
		font-size: $--Font-Size-Title-1024;
	}

	@media (min-width: 744px) and (max-width: 1023px) {
		font-size: $--Font-Size-Title-744;
	}

	@media screen and (max-width: 743px) {
		font-size: $--Font-Size-Title-Mobile;
	}
}
