$--Colors-White: #ffffff;
$--Colors-Black: #000000;
$--Colors-Red: #de4154;
$--Colors-Blue: #188bf5;
$--Colors-Green: #4b8261;

$--Colors-Light-Gray: #747587;
$--Colors-Middle-Gray: #2c2c37;
$--Colors-Dark-Gray: #21222d;
