$--Colors-White: #ffffff;
$--Colors-Black: #000000;
$--Colors-Red: #de4154;
$--Colors-Blue: #188bf5;
$--Colors-Green: #4b8261;
$--Colors-Light-Gray: #747587;
$--Colors-Middle-Gray: #2c2c37;
$--Colors-Dark-Gray: #21222d;

$--Colors-Dark-Gray-Hover: rgba(33, 34, 45, 0.7);
$--Colors-Red-Hover: rgba(222, 65, 84, 0.8);
$--Colors-Blue-Hover: rgba(24, 139, 245, 0.8);
$--Colors-Green-Hover: rgba(75, 130, 97, 0.8);
