//Fonts
$--Font-Montserrat-Bold: 'Montserrat Bold', sans-serif;
$--Font-Montserrat-SemiBold: 'Montserrat SemiBold', sans-serif;
$--Font-Montserrat-Medium: 'Montserrat Medium', sans-serif;
$--Font-Montserrat-Regular: 'Montserrat Regular', sans-serif;

// 1440-1920+ px
$--Font-Size-Title-1440: 36px;
$--Font-Size-Text-1440: 20px;
$--Font-Size-Card-Title-1440: 16px;
$--Font-Size-Film-Title-1440: 24px;
$--Font-Size-Film-Subtitle-1440: 14px;
$--Font-Size-Actor-Title-1440: 20px;
$--Font-Size-Actor-Status-1440: 16px;
$--Font-Size-Button-Primary-1440: 12px;
$--Font-Size-Button-Secondary-1440: 14px;
$--Font-Size-Form-Title-1440: 36px;
$--Font-Size-Form-Subtitle-1440: 24px;
$--Font-Size-Form-Text-1440: 14px;
$--Font-Size-Form-Error-1440: 12px;

// 1024-1439 PX
$--Font-Size-Title-1024: 24px;
$--Font-Size-Text-1024: 20px;
$--Font-Size-Card-Title-1024: 14px;
$--Font-Size-Film-Title-1024: 24px;
$--Font-Size-Film-Subtitle-1024: 14px;
$--Font-Size-Actor-Title-1024: 20px;
$--Font-Size-Actor-Status-1024: 16px;
$--Font-Size-Button-Primary-1024: 12px;
$--Font-Size-Button-Secondary-1024: 14px;
$--Font-Size-Form-Title-1024: 24px;
$--Font-Size-Form-Subtitle-1024: 16px;
$--Font-Size-Form-Text-1024: 14px;
$--Font-Size-Form-Error-1024: 12px;

// 744-1023 PX
$--Font-Size-Title-744: 20px;
$--Font-Size-Text-744: 20px;
$--Font-Size-Card-Title-744: 14px;
$--Font-Size-Film-Title-744: 24px;
$--Font-Size-Film-Subtitle-744: 14px;
$--Font-Size-Actor-Title-744: 20px;
$--Font-Size-Actor-Status-744: 16px;
$--Font-Size-Button-Primary-744: 12px;
$--Font-Size-Button-Secondary-744: 14px;
$--Font-Size-Form-Title-744: 24px;
$--Font-Size-Form-Subtitle-744: 16px;
$--Font-Size-Form-Text-744: 14px;
$--Font-Size-Form-Error-744: 12px;

// 375-743 PX // Mobile
$--Font-Size-Title-Mobile: 16px;
$--Font-Size-Text-Mobile: 16px;
$--Font-Size-Card-Title-Mobile: 14px;
$--Font-Size-Film-Title-Mobile: 24px;
$--Font-Size-Film-Subtitle-Mobile: 14px;
$--Font-Size-Actor-Title-Mobile: 16px;
$--Font-Size-Actor-Status-Mobile: 14px;
$--Font-Size-Button-Primary-Mobile: 12px;
$--Font-Size-Button-Secondary-Mobile: 14px;
$--Font-Size-Form-Title-Mobile: 20px;
$--Font-Size-Form-Subtitle-Mobile: 16px;
$--Font-Size-Form-Text-Mobile: 14px;
$--Font-Size-Form-Error-Mobile: 12px;
