.list {
	max-width: 1000px;
	display: grid;
	grid-auto-rows: minmax(100px, auto);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;

	padding: 0;
	margin: 0;
	list-style: none;

	&_item {
		width: 100%;
	}
}
