@import '@/utils/styles/color-variables';
@import '@/utils/styles/font-variables';

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 21px;

	max-width: 1000px;
	width: 100%;
	background-color: $--Colors-Middle-Gray;

	border-radius: 24px;
	padding: 34px 75px 41px 44px;
}

.wrapper {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: 27px;
}

.commentInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 3px;
}

.author {
	margin: 0;
	font-family: $--Font-Montserrat-Bold;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	color: $--Colors-White;
}

.description {
	margin: 0;
	font-family: $--Font-Montserrat-Medium;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: $--Colors-Light-Gray;
}

.comment {
	margin: 0;
	font-family: $--Font-Montserrat-Medium;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px; /* 140% */
	color: $--Colors-White;
}

.image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}
