@import '@/utils/styles/color-variables';
@import '@/utils/styles/font-variables';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;

	@media (min-width: 744px) and (max-width: 1439px) {
		gap: 9px;
	}

	@media (min-width: 375px) and (max-width: 743px) {
		gap: 20px;
	}
}

.card {
	position: relative;
	overflow: hidden;
	max-width: 488px;
	aspect-ratio: 480 / 270;
	border-radius: 15px;

	&_image {
		max-width: 100%;
		min-width: 240px;
		height: auto;
		aspect-ratio: 480 / 270;
	}

	&_title,
	&_description {
		margin: 0;
		font-family: $--Font-Montserrat-Bold;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		color: $--Colors-White;

		@media (min-width: 375px) and (max-width: 1439px) {
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px; /* 142.857% */
		}
	}

	&_info {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% -40px;
		height: 100% -40px;
		aspect-ratio: (480 / 270);
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.5);
		display: none;

		@media (min-width: 900px) and (max-width: 1240px) {
			padding: 10px;
			width: 100% -20px;
			height: 100% -20px;
		}

		@media (min-width: 375px) and (max-width: 900px) {
			padding: 5px;
			width: 100% -10px;
			height: 100% -10px;
		}

		.card:hover & {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			gap: 24px;

			@media (min-width: 744px) and (max-width: 1023px) {
				gap: 8px;
			}

			@media (min-width: 375px) and (max-width: 743px) {
				gap: 8px;
			}
		}
	}

	&_detail {
		scrollbar-width: none;

		&_text {
			margin: 0;
			font-family: $--Font-Montserrat-Medium;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */

			@media (min-width: 975px) and (max-width: 1240px) {
				font-size: 12px;
				font-weight: 400;
				line-height: 12px;
			}

			@media (min-width: 375px) and (max-width: 975px) {
				font-size: 8px;
				font-weight: 400;
				line-height: 12px;
			}
		}

		&_button {
			cursor: pointer;
			width: 300px;
			background-color: $--Colors-Middle-Gray;
			padding: 5px;
			border-radius: 60px;
			border: none;

			margin: 0;
			font-family: $--Font-Montserrat-Bold;
			text-align: center;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 40px; /* 285.714% */
			color: $--Colors-White;

			@media (min-width: 1024px) and (max-width: 1439px) {
				width: 200px;
				padding: 5px;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 28px; /* 285.714% */
			}

			@media (min-width: 900px) and (max-width: 1023px) {
				width: 200px;
				padding: 5px;
				font-size: 8px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 285.714% */
			}

			@media (min-width: 375px) and (max-width: 900px) {
				width: 150px;
				padding: 2px;
				font-size: 8px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 285.714% */
			}
		}

		&_link {
			text-decoration: none;
			color: $--Colors-White;
		}
	}
}
